* {
    font-family: sans-serif;
}

body {
	display: table;
	height: 100%;
	margin: 0;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

tr.header td {
	font-weight: bold;
}

#leftbar , #main {
	display: table-cell;
	padding: 10px;
	vertical-align: top;
}

#leftbar {
	border-right: 1px solid black;
}

#speed_text {
    text-align: center;
    width: 50px;
}

input[type="text"] {
	text-align: center;
}

.numeric_filter {
	width: 60px;
}

.expo_filter {
	width: 120px;
}

.stat_filter {
	width: 200px;
}

.valid {
	color: black;
}

.invalid {
	color: red;
}
